<style>
    .track-list{
        padding: 0
    }
    .track-list li{
        border-bottom: 1px solid gray;
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
    }
    
    .track-item-left{
        display: flex;
        flex-direction: row;
    }

    .track-item-left a{
        line-height: 30px;
    }

    .track-item-duration{
        color: gray
    }

    button.play-track-btn{
        background: transparent;
        border: 2px solid #ffffff; /* White border for visibility */
        border-radius: 50%;
        color: #ffffff; /* White icon color */
        width: 30px;
        height: 30px;
        margin-right: 20px;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
        line-height: 27px;
        overflow: hidden;
        cursor: pointer;
    }
    button.play-track-btn:hover{
        background: white;
        color: black
    }
</style>

<ul class="track-list">
    <% tracks.forEach(track=> { %>
        <li>
            <div class="track-item-left">
                <button class="play-track-btn" onclick="playTrack('<%= track.track_id %>')"><i
                        class="bi bi-play-fill"></i>
                </button>
                <a href="/tracks/<%= track.track_id %>" class="song-link">
                    <%= track.track_title %>
                </a>
            </div>
            <% const track_duration_minute=Math.floor(+track.track_duration / 60) %>
            <% const track_duration_second=+track.track_duration % 60 %>
            <span class="track-item-duration">
                <%= track_duration_minute %>:<%= track_duration_second %>
            </span>
        </li>
    <% }); %>
</ul>