<link rel="stylesheet" href="/css/playlist-detail.css">
<p>Playlist name: <%= playlist.playlist_name %></p>
<p>Playlist visibility mode: <%= playlist.playlist_visibility_mode %></p>
<p>Owner ID: <%= owner.user_id %></p>
<p>Owner: <%= owner.user_name %></p>

<p>Tracks: </p>

<%- include('../partials/track_list', {tracks: tracks}) %>