<link rel="stylesheet" href="/css/playlist.css">
<main>
<div class="top-header">
  <h1 class="greeting">Hello, <%= username %>, what is your playlist to listen to today?</h1>
  <a href="/playlists/create" class="create-playlist">CREATE PLAYLIST</a>
</div>

<div class="playlist-container">
	<% playlists.forEach(playlist => { %>
	<div class="playlist-card">
		<a href="/playlists/<%= playlist.playlist_id %>">
			<img class="playlist-cover" src="<%= playlist.cover %>" alt="">
		</a>
		<div class="playlist-title">
			<a href="/playlists/<%= playlist.playlist_id %>">
			<% if (playlist.liked) { %>
				<i class="bi bi-heart-fill"></i>
			<% } else { %>
				<i class="bi bi-lock-fill"></i>
			<% } %>
			<%= playlist.playlist_name %>
			</a>
		</div>
	</div>
	<% }); %>
</div>
</main>
<!-- <script>
  document.querySelectorAll('.playlist-header').forEach(header => {
    header.addEventListener('click', (e) => {
      // Prevent the click from triggering if clicking on the playlist name link
      if (e.target.tagName === 'A') return;
      
      // Toggle the active class on the parent playlist div
      const playlist = header.closest('.playlist');
      playlist.classList.toggle('active');
      
      // Rotate arrow when playlist is active
      const arrow = header.querySelector('.arrow-btn i');
      if (playlist.classList.contains('active')) {
        arrow.style.transform = 'rotate(180deg)';
      } else {
        arrow.style.transform = 'rotate(0deg)';
      }
    });
  });
</script> -->