<main>
    <link rel="stylesheet" href="/css/tracks.css">
    <div class="container">
        <div class="your-tracks-container">
            <div class="your-tracks-header">
                <h1>Your tracks</h1>
                <a href="/tracks/upload" class="upload-btn">
                    <i class="bi bi-cloud-upload upload-icon"></i>
                    Upload
                </a>
            </div>
            <%- include('../partials/track_list', {tracks: tracks}) %>
        </div>

        <div class="fav-tracks">
            <h1>Liked tracks</h1>
            <%- include('../partials/track_list', {tracks: liked_tracks}) %>
        </div>

        <div class="fav-artists">
            <h1>Tracks from your favourite artists and users</h1>
            <% artists.forEach(artist=> { %>
                <% if (artist.tracks.length > 0) { %>
                <div class="artist-card">
                    <div class="card-header">
                        <img src="<%= artist.artist_pic_path %>" alt="artist profile pic">
                        <h3>
                            <%= artist.artist_name %>
                        </h3>
                    </div>
                    <div class="card-body">
                        <%- include('../partials/track_list', {tracks: artist.tracks}) %>
                    </div>
                </div>
                <% } %>
            <% }); %>
            <% liked_users.forEach(user => { %>
                <div class="artist-card">
                    <div class="card-header">
                        <img src="<%= user.user_profile_pic %>" alt="user profile pic">
                        <h3>
                            <%= user.user_name %>
                        </h3>
                    </div>
                    <div class="card-body">
                        <%- include('../partials/track_list', {tracks: user.tracks}) %>
                    </div>
                </div>
            <% }); %>
        </div>

    </div>
</main>