<h1><%= track.track_title %></h1>
<% if (artist) { %>
<h2><%= artist.artist_name %></h2>
<% } %>
<% if (album) { %>
<img src="<%= album.album_cover_image %>" alt="" height="300px">
<% } %>

<%- include("../partials/likeBtn", {liked: liked, type: 'track' , id: track.track_id}) %>


<pre><%= track.lyrics %></pre>