<h1><%= track.track_title %></h1>
<% if (artist) { %>
<h2><%= artist.artist_name %></h2>
<% } %>
<% if (album) { %>
<img src="<%= album.album_cover_image %>" alt="" height="300px">
<% } %>

<button class="like-btn <%= liked ? 'liked' : '' %>" data-type="track" data-id="<%= track.track_id %>">
    <i class="bi <%= liked ? 'bi-heart-fill' : 'bi-heart' %>"></i>
</button>

<pre><%= track.lyrics %></pre>